# =========================
# FRONTEND
# =========================
frontend/node_modules/
frontend/dist/
frontend/.vite/

# =========================
# SPRING BOOT
# =========================
**/target/
**/.mvn/

# =========================
# UPLOADS
# =========================
**/uploads/

# =========================
# ENV
# =========================
.env
*.env

# =========================
# IDE
# =========================
.vscode/
.idea/
*.iml

# =========================
# LOGS
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# TEMP
# =========================
tmp/
temp/
**/application-secret.yaml